.content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .content_left {
    margin-right: 20px;
    border: 1px solid #f7f7fc;
    width: 850px;
    padding: 20px 0;
    &_text {
      font-size: 16px;
      line-height: 48px;
      color: #414141;
    }
  }
}
